<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="registration-form">
    <template>
        <div class="container" style="top: 30px; position: absolute">
            <div class="col-md-8 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please sign up</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" id="signUpForm">
                            <div class="form-group">
                                <input type="text" minlength="4" maxlength="15" required id="userName"
                                       class="form-control input-sm"
                                       placeholder="User Name">
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" minlength="4" maxlength="15" required id="fName"
                                               class="form-control input-sm" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" minlength="4" maxlength="15" required id="lName"
                                               formControlName="lName" class="form-control input-sm"
                                               placeholder="Last Name">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="email" minlength="4" required id="email" email
                                       class="form-control input-sm" placeholder="Email Address">
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" minlength="4" maxlength="15" required id="password"
                                               class="form-control input-sm" placeholder="Password">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" minlength="4" maxlength="15" required
                                               id="confirmPassword" class="form-control input-sm"
                                               placeholder="Confirm Password">
                                    </div>
                                </div>
                            </div>
                            <button on-click="onSubmit" type="submit" required value="register"
                                    class="btn btn-info btn-block">Register
                            </button>
                        </form>
                    </div>
                    <div>
                        <h4>{{passwordCheck}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </template>
</dom-module>

<!-- Registers custom element -->
<script>

    Polymer({
        is: 'registration-form',
        properties: {
            registrationSuccess: {
                type: Boolean,
                value: false
            },
            passwordCheck: {
                type: String,
                value: ""
            },
            signUpForm: {
                type: HTMLElement,
                value: document.getElementById('signUpForm')
            },
            password: {
                type: HTMLElement,
                value: document.getElementById('password')
            },
            confirmPassword: {
                type: HTMLElement,
                value: document.getElementById('confirmPassword')
            },

            submit: {
                type: Function
            }
        },
        onSubmit: function (event) {
            var formData;
            this.passwordCheck = "";
            if (password.value !== confirmPassword.value) {
                event.preventDefault();
                this.passwordCheck = "Passwords are not matched";
            } else if(signUpForm.checkValidity()) {
                event.preventDefault();
                formData = {
                    password: signUpForm.elements.password.value,
                    userName: signUpForm.elements.userName.value,
                    lName: signUpForm.elements.lName.value,
                    fName: signUpForm.elements.fName.value,
                    email: signUpForm.elements.email.value
                }
                this.dispatchEvent(new CustomEvent('onformsubmit', {
                    bubbles: true,
                    composed: true,
                    detail: formData
                }));
            }
        }
    });
</script>