<!-- Imports polymer -->
<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- Defines element markup -->
<dom-module id="registration-form">
    <template>
        <div class="container" style="top: 30px; position: absolute">
            <div class="col-md-8 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please sign up</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" id="signUpForm">
                            <div class="form-group">
                                <input type="text" required id="userName"  class="form-control input-sm"
                                       placeholder="User Name">
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" required id="fName" class="form-control input-sm" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" required id="lName" formControlName="lName" class="form-control input-sm" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="email" required id="email" email class="form-control input-sm" placeholder="Email Address">
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" required id="password" class="form-control input-sm" placeholder="Password">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" required id="confirmPassword"  class="form-control input-sm"
                                               placeholder="Confirm Password">
                                    </div>
                                </div>
                            </div>
                            <input on-click="onSubmit" type="submit" required value="register" class="btn btn-info btn-block">
                        </form>
                    </div>
                    <div>
                        <h4>{{registrationSuccess}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </template>
</dom-module>

<!-- Registers custom element -->
<script>

    const errorMsg = {
        email: "Email is not valid",
        confirmPassword: "Confirm Password is not valid, min length is 6 and should match to Password",
        password: "Password is not valid, min length is 6",
        lName: "Last Name is not valid min length is 4 and maximum is 15",
        fName: "First Name is not valid min length is 4 and maximum is 15",
        userName: "User Name is not valid min length is 4 and maximum is 15"
    };

    Polymer({
        is: 'registration-form',
        properties: {
            registrationSuccess: {
                type: Boolean,
                value: false
            },
            signUpForm: {
                type: HTMLElement,
                value: document.getElementById('signUpForm')
            }
        },
        onSubmit: function(event){
            for(let i in signUpForm){
                let formElement = signUpForm[i];
                formElement.validationMessage = this.setValidationMessage(formElement.id);
                debugger;
            }

            //alert("form submit calls")
        },

        setValidationMessage: function(id) {
            return errorMsg[id];
        }

    });
</script>